# ---------------
# nodejs defaults

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
package-lock.json

# ---------------
# custom additions
public
output
_*.js
.tmp/
notes.md

# ---------------
# ide specific
.vscode
