<!doctype html>
<html>
<head>
  <meta name="charset" content="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
  <textarea id="input" cols=80 rows=20></textarea>
  <textarea id="output" cols=80 rows=20></textarea>
  <script>if (typeof DEBUG === 'undefined') var DEBUG = true</script>
</body>
</html>
